@charset "UTF-8";

/*============================
	html5 base style
============================*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
address,
code,
em,
img,
a,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
figcaption,
figure,
footer,
header,
menu,
nav,
main,
section,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    box-sizing: border-box;
}

article,
aside,
figcaption,
figure,
footer,
header,
menu,
nav,
main,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

img,
svg {
    width: 100%;
    vertical-align: bottom;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input,
select {
    vertical-align: middle;
}

input,
select,
button {
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
}

input:focus,
select:focus,
button:focus {
    outline: 0;
}

a:hover {
    text-decoration: none;
    outline: 0;
    opacity: 0.6;
    transition: 0.5s;
}

/*============================
    module style
============================*/
html {
    overflow: auto;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background: #fff;
    color: #383E45;
    font-family: 'Noto Sans JP', "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    margin: auto;
    position: relative;
}


/*============================
    color
============================*/
.bg-white {
    background-color: #fff;
}

.h-gray:hover {
    color: #a0a0a0;
}

/*----------------------------
  text
-----------------------------*/
.bold {
    font-weight: bold;
}

.al-center {
    text-align: center;
}

.al-right {
    text-align: right;
}

.al-left {
    text-align: left;
}

.line-h-22 {
    line-height: 22px;
}

/*----------------------------
  border
-----------------------------*/
.bd-top {
    border-top: solid 2px #dae6e4;
}

.bd-bottom {
    border-bottom: solid 2px #dae6e4;
}

.d-line {
    border-bottom: #000 1px solid;
}

.d-line:hover {
    border-color: #a0a0a0;
}

/*----------------------------
  space
-----------------------------*/
.m-auto {
    margin: auto;
}

.m-0auto {
    margin: 0 auto;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-60 {
    margin-top: 60px;
}

.mt-70 {
    margin-top: 70px;
}

.mt-80 {
    margin-top: 80px;
}

.mt-90 {
    margin-top: 90px;
}

.mt-100 {
    margin-top: 80px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-20 {
    margin-right: 20px;
}

.mr-70 {
    margin-right: 70px;
}

.mr-100 {
    margin-right: 100px;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-35 {
    margin-bottom: 35px;
}

.mb-45 {
    margin-bottom: 45px;
}

.mb-60 {
    margin-bottom: 60px;
}

.mb-80 {
    margin-bottom: 80px;
}

.mb-100 {
    margin-bottom: 100px;
}

.ml-20 {
    margin-left: 20px;
}

.ml-50 {
    margin-left: 50px;
}

.p-15 {
    padding: 15px;
}

.pt-10 {
    padding-top: 10px;
}

.pt-20 {
    padding-top: 20px;
}

.pr-10 {
    padding-right: 10px;
}

.pr-25 {
    padding-right: 25px
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pb-40 {
    padding-bottom: 40px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pb-60 {
    padding-bottom: 60px;
}

.pb-70 {
    padding-bottom: 70px;
}

.pl-10 {
    padding-left: 10px;
}

.pl-20 {
    padding-left: 20px;
}

/*----------------------------
  layout
-----------------------------*/
.inner {
    max-width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
    display: -webkit-flex;
    display: -ms-flex;
}

.flexwrap {
    flex-wrap: wrap;
    width: 100%;
}

.flex-nml {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.flex-btw {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.flex-cnt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.flex-end {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.row-reverse {
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.items-center {
    -webkit-align-items: center;
    align-items: center;
}

.items-end {
    -webkit-align-items: flex-end;
    align-items: flex-end;
}


/*----------------------------
  layout02
-----------------------------*/
.w-20 {
    width: 20%;
}

.w-25 {
    width: 25%;
}

.w-45 {
    width: 45%;
}

.w-70 {
    width: 70%;
}

.w-full {
    width: 100%;
}

.block {
    display: block;
}

.block-center {
    display: block;
    margin: auto;
}

.jc-between {
    justify-content: space-between;
}

.jc-around {
    justify-content: space-around;
}

.jc-center {
    justify-content: center;
}

.jc-end {
    justify-content: flex-end;
}

.align-items {
    align-items: center;
}

.fd-reverse {
    flex-direction: row-reverse;
}

.icon:before {
    content: "";
    display: inline-block;
    background-repeat: no-repeat;
}

.of-hidden {
    overflow: hidden;
}

.wp-nowrap {
    white-space: nowrap;
}

@media screen and (max-width:768px) {
    .inner {
        max-width: 345px;
        margin: 0 auto;
    }
}

@media (min-width: 751px) {
    a[href*="tel:"] {
        pointer-events: none;
        cursor: default;
        text-decoration: none;
        color: #000;
    }
}

/*----------------------------
  position
-----------------------------*/
.ps-r {
    position: relative;
}

.ps-a {
    position: absolute;
}

/*----------------------------
  list
-----------------------------*/
.list-style {
    list-style: disc;
}

.scale {
    transition: 0.5s;
}

.scale:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.spbr {
    display: none;
}

/*=============================

===============================*

/* ------------------------------*/

@media screen and (max-width:1061px) {}

@media (max-width: 768px) {}

@media (max-width: 480px) {}

@media screen and (max-width: 375px) {}


/*----------------------------
  responsive
-----------------------------*/
@media screen and (min-width:769px) {
    .sp {
        display: none;
    }
}

@media screen and (max-width:768px) {
    .pc {
        display: none;
    }

}

@media screen and (max-width:599px) {
    .flex {
        display: block;
    }

    p {
        font-size: 1.4rem;
    }
}
