@charset "UTF-8";
#top {
  height: 62px;
  display: -ms-grid;
  display: grid;
}

.header__nav {
  margin-left: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__left {
  background: #393E46;
  font-size: 2.0rem;
  padding: 1.0rem 2.1rem;
}

.header__left h1 {
  color: #fff;
  line-height: 2.0rem;
}

.header__left img {
  width: 120px;
}

.header__right {
  margin-right: 1.0rem;
}

.header__right a {
  font-size: 1.4rem;
}

.header__right a + a {
  margin-left: 3.0rem;
}

#mv {
  height: 600px;
}

#mv img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.section__mv {
  margin-bottom: 8.0rem;
}

@media screen and (min-width: 768px) {
  .header__nav {
    margin: 0 auto;
    width: 960px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header__nav {
    width: 100%;
    margin-left: 1.0rem;
  }
  .header__right {
    margin-right: 3.0rem;
  }
}

.header__menu {
  font-weight: bold;
  font-size: 1rem;
  z-index: 999;
  padding: 40px 58px 0 0;
}

.header__hamburger {
  width: 27px;
  height: 13px;
  cursor: pointer;
  margin: 0 auto;
}

.header__hamburger span {
  background: #1b1b1b;
  height: 2px;
  width: 100%;
}

.headerColor-default .header__hamburger span {
  background: #333;
}

.headerColor-default .header__menu--txt {
  color: #333;
  text-align: center;
}

.header__hamburger.active span {
  background: #fff;
}

.header__hamburger.active .header__menu--txt {
  color: #fff;
}

.header__hamburger--top {
  top: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

.header__hamburger--middle {
  top: 42.5%;
  -webkit-transition: .5s;
  transition: .5s;
}

.header__hamburger--bottom {
  bottom: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

.header__hamburger.active .header__hamburger--top {
  -webkit-transform: translateY(5px) rotate(30deg);
          transform: translateY(5px) rotate(30deg);
}

.header__hamburger.active .header__hamburger--middle {
  display: none;
}

.header__hamburger.active .header__hamburger--bottom {
  -webkit-transform: translateY(-6px) rotate(-30deg);
          transform: translateY(-6px) rotate(-30deg);
}

.g-nav__bg {
  position: fixed;
  top: 0;
  right: -120%;
  width: 100%;
  height: 100vh;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.g-nav__bg .active {
  right: 0;
}

.g-nav__sp-ul {
  background: rgba(0, 153, 153, 0.9);
  height: 100vh;
  margin: 0 0 0 auto;
  padding-top: 120px;
  text-align: center;
}

.g-nav__sp ul li a {
  height: 100%;
  display: block;
  color: #fff;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .g-nav__pc {
    display: none;
  }
  .header__tel.pc {
    display: none;
  }
  header {
    height: 80px;
    position: fixed;
    width: 100%;
    background: #fff;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }
  header .inner {
    padding: 0 5%;
  }
  .header__txt {
    font-size: 1rem;
    left: 5%;
  }
  header h1 {
    min-width: auto;
    padding: 0;
    margin-right: 0;
  }
  .header__flexwrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header__flexright--sp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 10px;
  }
  .header__menu {
    padding: 20px 0 0 20px;
  }
  .header__tel {
    padding: 0 20px;
    background: none;
    margin: 0;
  }
  .header__tel img {
    vertical-align: middle;
    width: 30px;
  }
  .header__contact {
    width: 50px;
    height: 50px;
  }
  .header__contact img {
    vertical-align: middle;
    width: 30px;
    padding: 20px 0 0;
  }
  .g-nav__toggle-nav {
    display: block;
  }
}

@media screen and (max-width: 559px) {
  .header__txt {
    display: none;
  }
}

.fv {
  position: relative;
}

.fv__copy {
  position: absolute;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 99;
  top: 60%;
  left: 50%;
}

.slide-animation {
  -webkit-animation: fadezoom 8s 0s forwards;
          animation: fadezoom 8s 0s forwards;
}

@-webkit-keyframes fadezoom {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes fadezoom {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@media screen and (min-width: 768px) {
  .fv {
    margin-top: 60px;
  }
  .fv__copy {
    width: 80%;
    left: 50%;
    top: 50%;
  }
  .fv .slick01.sp {
    width: 100%;
  }
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slick-dots li button:before {
  content: "■";
}

.slick-dots li.slick-active button:before {
  color: #009999;
}

footer {
  height: 21px;
  font-size: 1.4rem;
}

footer a {
  color: #fff;
}

footer p {
  font-size: 1.0rem;
}

.footer__logo {
  margin: -89px 0 54px -50px;
}

.footer__flex-right {
  width: 58%;
}

.footer__nav li:not(:last-child) {
  margin-bottom: 30px;
}

.footer__copyright {
  background: #fff;
  text-align: center;
  line-height: 40px;
  height: 40px;
}

@media screen and (min-width: 768px) {
  .footer__logo {
    margin: -75px 0 54px -10px;
  }
  .footer__nav {
    text-align: center;
    font-size: 1.4rem;
    display: block;
  }
  footer ul li:not(:last-child) {
    border: none;
    padding: 0;
    margin-bottom: 20px;
  }
  footer ul li:not(:first-child) {
    padding: 0;
  }
}

@media screen and (max-width: 599px) {
  footer {
    height: auto;
  }
  .footer__logo {
    margin-top: -78px;
  }
  .footer__flex-left {
    margin-bottom: 30px;
  }
  .footer__flex-left p {
    text-align: center;
  }
  .footer__flex-right {
    width: 100%;
  }
  .footer__nav {
    margin-bottom: 30px;
  }
}

#page-top a {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  opacity: 0;
  white-space: nowrap;
  font-size: 1.2rem;
  text-align: center;
  width: 60px;
  height: 150px;
  border-radius: 5px;
}

#page-top img {
  display: block;
  margin: 0 auto;
}

#page-top .active a {
  opacity: 1;
}

#sub_contents .bread_crumb {
  text-align: left;
  padding: 15px 0px 15px;
  max-width: 1100px;
  margin: 0 auto;
  font-size: 14px;
}

#sub_contents .bread_crumblist {
  font-size: 14px;
  color: #888;
}

#sub_contents .bread_crumb li {
  display: inline;
}

#sub_contents .bread_crumb li .current {
  font-weight: normal;
}

#sub_contents .bread_crumb li a {
  text-decoration: underline;
}

#sub_contents .bread_crumb li a:hover {
  text-decoration: none;
}

#sub_contents .bread_crumb li:after {
  content: 'ー';
  padding-left: 10px;
}

#sub_contents .bread_crumb li:after:last-child:after {
  content: '';
}

@media screen and (min-width: 768px) {
  #sub_contents .bread_crumb_list {
    margin-left: 15px;
  }
}

.contents__ttl {
  font-size: 3.2rem;
  border-bottom: 0.1rem solid #383E45;
  display: inline-block;
  margin: 0 auto 60px;
}

.section__topabout {
  margin-bottom: 10.0rem;
}

.section__topabout img {
  border-radius: 50%;
  width: 10.0rem;
}

.contents__txt {
  margin-top: 1.0rem;
}

.contents__txt span {
  font-weight: bold;
}

.contents__txt p {
  margin-top: 1.0rem;
  font-size: 1.4rem;
}

@media screen and (min-width: 768px) {
  .section__topabout {
    max-width: 530px;
  }
  .contents__aboutlist {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contents__txt {
    margin-left: 3.0rem;
  }
}

.section__topbicycle {
  margin-bottom: 14.0rem;
}

.contents__bicyclelist li + li {
  margin-top: 3.0rem;
}

.contents__img--push {
  text-align: center;
}

.contents__img--push .post__ttl, .contents__img--push .post__txt {
  margin-top: 1.0rem;
  font-size: 1.4rem;
  font-weight: 500;
}

.contents__img--push .post__ttl {
  font-size: 1.6rem;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .contents__bicyclelist {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contents__bicyclelist li + li {
    margin-top: 0;
  }
  .contents__bicyclelist a + a {
    margin-left: 1.6rem;
  }
}

.section__subabout {
  margin: 0 auto;
  text-align: center;
}

.section__subabout img {
  width: 345px;
  margin-bottom: 3.0rem;
}

.contents__subabout {
  text-align: left;
  margin-bottom: 6.0rem;
}

.contents__subabout h3 {
  font-size: 2.1rem;
  margin-bottom: 3.0rem;
}

.contents__subaboutp {
  font-size: 1.4rem;
}

.contents__subabout p + p {
  margin-top: 1.0rem;
}

.topbtn {
  margin-bottom: 26.0rem;
}

.topbtn a:hover {
  opacity: 0.6;
}

@media screen and (min-width: 1024px) {
  .section__subabout img {
    width: 840px;
    margin-top: 6.2rem;
  }
  .contents__subabout {
    margin: 0 auto 6.0rem;
    width: 770px;
  }
  .contents__subabout p + p {
    margin-top: 2.0rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .section__subabout img {
    width: 80%;
    margin-top: 6.2rem;
  }
  .contents__subabout {
    margin: 0 auto 6.0rem;
    width: 680px;
  }
  .contents__subabout p + p {
    margin-top: 2.0rem;
  }
}
/*# sourceMappingURL=style.css.map */